@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --border: 214 32% 91%;
  }
}
